:root {
  --nav-color: #90E0EF;
  --gray-color: #D9D9D9;
  --point-color: #9381FF;
  --white-color: #edf6f9;
  --blue-color: #CAF0F8;

  --padding: ;

  --radius-small: 30px;
  --radius-medium: 10px;
  /* 
  --radius-small: 50px;
  --radius-medium: 30px; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

ul {
  list-style: none;
}

/* basic css */

.comments {
  display: flex;
  justify-content: center;
}

.comments .list {
  display: flex;
  justify-content: center;
}

/* background color */
.comments .backColor_list {
  width: 1258px;
  height: 560px;
  border-radius: var(--radius-medium);
  background: var(--blue-color);
  /* margin-left: 10px; */
}

.comments .backColor_list .backColor_element {
  width: 1033px;
  /*1033px*/
  height: 134px;
  border-radius: var(--radius-medium);
  background: var(--white-color);
  margin: 40px 40px 40px 40px;
  /* margin-left: -10px; */
}

.comment {
  margin-right: 10px;
}

.like {
  display: flex;
  justify-content: center;
  width: 84px;
  height: 134px;
  background: #9381FF;
  /* margin: 10px; */
  border-radius: var(--radius-medium);
}

.user_img {
  width: 100px;
  height: 100px;
  border-radius: var(--radius-small);
  margin: 15px 30px 15px 20px;
}

.comments .list .list_element {
  display: flex;
  justify-content: column;
}

.comments .list .list_element .comment span {
  display: flex;
  justify-content: column;

  margin-top: 7px;
}

.list_num {
  display: flex;
  justify-content: center;

  margin-top: 25px;
}

.list_num a {
  display: flex;
  margin: 10px 7px 0px 0px;
}