:root {
  --nav-color: #90E0EF;
  --gray-color: #D9D9D9;
  --point-color: #9381FF;
  --white-color: #edf6f9;
  --blue-color: #CAF0F8;

  --padding: ;
  --margin-medium: 15px;
  --margin-small: 10px;

  --radius-small: 30px;
  --radius-medium: 10px;

  --cafe-img-width: ;
  --cafe-img-height: ;

  --backColor-info-width: ;
  --backColor-info-height: ;

  --map-img-width: ;
  --map-img-height: ;

  --backColor-input-width: ;
  --backColor-input-height: ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

ul {
  list-style: none;
}

/* header */
header {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

/* 가게명 및 태그 */
.name {
  display: flex;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 2%;
  justify-content: space-between;
}

.name h2 {
  font-size: 300%;
  margin-right: 20%;
}

.name .tag {
  display: flex;
  margin-top: 1%;
  margin-right: 10%;
}

.name .tag span {
  margin-top: 7px;
  color: var(--white-color);
}

.name .tag .tag_level {
  display: flex;
  justify-content: center;

  width: 100px;
  height: 40px;
  background: var(--point-color);
  border-radius: var(--radius-small);
}

.name .tag .tag_local {
  display: flex;
  justify-content: center;

  width: 70px;
  height: 40px;
  background: var(--point-color);
  border-radius: var(--radius-small);
}

/* 해당 방탈출 정보 */
.cafeinfo {
  display: flex;
  justify-content: center;
}

/* Img : 해당 방탈출 정보 대표 이미지 */
.cafeinfo .backColor_img .cafe_img {
  width: 564px;
  /*464px*/
  height: 379px;
  /*379px*/
  border-radius: var(--radius-medium);

  margin: var(--margin-medium);
}

/* Info : 해당 방탈출 정보 설명 */
.cafeinfo .backColor_info {
  background: var(--blue-color);
  width: 664px;
  /*664px*/
  height: 379px;
  /*379px*/
  border-radius: var(--radius-medium);
  margin: var(--margin-medium);
}

/* Map : 해당 방탈출 지도 및 위치 */
.map {
  display: flex;
  justify-content: center;
}

.map .backColor_map .map_img {
  width: 1260px;
  /*1160px*/
  height: 579px;
  /*579px*/
  border-radius: var(--radius-medium);

  margin: 15px;
}

/* 댓글입력 */
.input_comment .backColor_input {
  width: 1258px;
  /*1158px*/
  height: 140px;
  /*140px*/
  background: var(--nav-color);

  margin-bottom: 15px;
}

.input_comment {
  display: flex;
  justify-content: center;
  margin: var(--margin-medium);
}

.input_comment .backColor_input {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  border-radius: var(--radius-medium);

}


.input_comment .backColor_input .avator {
  height: 100px;
  width: 100px;
  border-radius: var(--radius-small);

  position: relative;
  top: 20px;
  margin-right: 10px;
}

.input_comment .backColor_input .input_text {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 15px;
  margin: 15px;
}

.input_comment .backColor_input .input {
  width: 787px;
  height: 80px;
  border-radius: var(--radius-medium);
}

.input_comment .backColor_input .user_input {
  width: 145px;
  height: 80px;
  border: none;
  border-radius: var(--radius-medium);

  position: relative;
  top: 29px;
  margin: 0px;
}

.input_comment .backColor_input button:hover {
  background: #9381FF;
  color: #D9D9D9;
}

/* 왜 아웃라인이 적용이 안될까 */
.input_comment .backColor_input .input_text input:focus {
  outline: none;
}

.img_p {
  display: flex;
  justify-content: column;

  width: 100px;
  height: 60px;
  background: var(--white-color);
  margin-bottom: 10px;
}

footer {
  background: var(--nav-color);
  padding: 50px;
  margin-top: 150px;
}