:root {
  --nav-color: #90E0EF;
  --gray-color: #D9D9D9;
  --point-color: #9381FF;
  --white-color: #edf6f9;
  --blue-color: #CAF0F8;

  --padding: ;
  --margin-medium: 15px;
  --margin-small: 10px;

  --radius-small: 30px;
  --radius-medium: 10px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

ul {
  list-style: none;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}

/* 가게명 및 태그 */
.name {
  display: flex;
  margin-top: 80px;
}

.name h2 {
  font-size: 40px;
  margin-left: 400px;
  margin-bottom: 20px;
}

.name .tag {
  display: flex;
  margin-left: 630px;
}

.name .tag span {
  /* margin-right: 10px; */
  margin-top: 7px;
  color: var(--white-color);
}

.name .tag .tag_level {
  display: flex;
  justify-content: center;

  width: 100px;
  height: 40px;
  background: var(--point-color);
  border-radius: var(--radius-small);
}

.name .tag .tag_local {
  display: flex;
  justify-content: center;

  width: 70px;
  height: 40px;
  background: var(--point-color);
  border-radius: var(--radius-small);
}

/* 해당 방탈출 정보 */
.cafeinfo {
  display: flex;
  justify-content: center;
  /* padding: ; */
}

/* .cafeinfo .backColor_img {
  background: #D9D9D9;
  width: 464px;
  height: 379px;
} */

/* Img : 해당 방탈출 정보 대표 이미지 */
.cafeinfo .backColor_img .cafe_img {
  width: 464px;
  height: 379px;
  border-radius: var(--radius-medium);

  margin: var(--margin-medium);
}

/* Info : 해당 방탈출 정보 설명 */
.cafeinfo .backColor_info {
  background: #D9D9D9;
  width: 664px;
  height: 379px;
  border-radius: var(--radius-medium);
  margin: var(--margin-medium);
}

/* Map : 해당 방탈출 지도 및 위치 */
.map {
  display: flex;
  justify-content: center;
}

.map .backColor_map .map_img {
  width: 1160px;
  height: 579px;
  border-radius: var(--radius-medium);
}

/* 댓글입력 */
.input_comment .backColor_input {
  width: 1158px;
  height: 140px;
  background: var(--nav-color);
}

.input_comment {
  display: flex;
  justify-content: center;
  margin: var(--margin-medium);
}

.input_comment .backColor_input {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  border-radius: var(--radius-medium);

}


.input_comment .backColor_input .avator {
  height: 100px;
  width: 100px;
  border-radius: var(--radius-small);

  position: relative;
  top: 20px;
  margin-right: 10px;
}

.input_comment .backColor_input .input_text {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 15px;
  margin: 15px;
}

.input_comment .backColor_input .input {
  width: 787px;
  height: 80px;
  border-radius: var(--radius-medium);
}

.input_comment .backColor_input button {
  width: 145px;
  height: 100px;
  border: none;
  border-radius: var(--radius-medium);

  position: relative;
  top: 20px;
  margin: 0px;
}

/* 왜 아웃라인이 적용이 안될까 */
.input_comment .backColor_input .input_text input:focus {
  outline: none;
}

/* 댓글 목록 -> 다시 수정해보기*/
/* .comments {
  display: flex;
  justify-content: center;
}

.comments .list {
  width: 1158px;
  height: 623px;
  border-radius: var(--radius-medium);
  background: var(--blue-color);
}

.comment ul {
  display: flex;
  flex-direction: column;
}

.comments .list li {
  width: 1033px;
  height: 124px;
  border-radius: var(--radius-medium);
  background: var(--white-color);
}

.comments .list li img {
  width: 70px;
  height: 69px;
  border-radius: var(--radius-small);
}

.comments .list li .comment {
  display: flex;
  flex-direction: column;
}

*/
/* 
hr {
  margin: 50px;
} */
/* 
.foot_hr {
  margin-top: 50px;
} */

.img_p {
  display: flex;
  justify-content: column;

  width: 100px;
  height: 60px;
  background: var(--white-color);
  margin-bottom: 10px;
}

footer {
  background: var(--nav-color);
  padding: 50px;
  margin-top: 150px;
}